{% load staticfiles %}
<div class="row">
    <div class="col-md-12">
        <div class="row" id="intro">
            <div class="col-md-5 col-md-offset-1">
                <h2>Find GHG Resources</h2>
		   <p>
This system allows for the registration of greenhouse gas resources, bridging the gap between available data resources and the end users. This Registry functions as a central location to enable discovery of distributed resources and information for greenhouse gas research.
                  </p>
                   <p>
Developed at the National Institute of Standards and Technology, this research registry is made available for sharing data and resources with the urban greenhouse gas community.  Please do not enter proprietary data into this system;   NIST supports access to publicly available data resources and services through this system. 
                 </p>
            </div>
            </div>
             <div class="col-md-4 col-md-offset-1" id="tiles">
            </div>
        </div>
    </div>
</div>
